@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	color: #3c4043;
}
p, ul, h5 {
	font-family: 'Montserrat';
  font-size: 14px;
  line-height: 20px;
}
.nav {
	margin: 0;
}

.nav-item {
	margin-top:20px;
	margin-right: 40px;
	margin-bottom: 10px;
}

.img-head {
	border-radius: 5px;
	margin-bottom: 10px;
}
.head-text {
	font-family: 'Montserrat';
	text-align: justify;


}
.features {
	font-family: 'Montserrat';
}

.features p {
	text-align:justify
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
