body {
	margin: 0;
	padding: 0;
	background-color: #fdfdfd;
}

.nav {
	margin: 0;
}

.nav-item {
	margin-top:20px;
	margin-right: 40px;
	margin-bottom: 10px;
}

.img-head {
	border-radius: 5px;
	margin-bottom: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
